<section id='CoffeeShop_banner'>
    <div class="jumbotron">
        <div class='container'>
            <div class="col-md-12">
                <h1>
                    Welcome to the coffee shop
                </h1>
                <p class='lead'> The best coffee</p>
                <a class='btn' href='/menu/Menu'> Order Coffee</a>
            </div>
        </div>
    </div>

    <div class="shopInfo">
            <div class='container'>
                <div class="col-md-12">
                    <p> Coffee shop hour: 9am to 11 pm</p>
                    <p> Address: 675 Walnut Street, San Mateo, CA
                </div>
            </div>
    </div>
</section>