<section id='CoffeeShop_banner'>
    <div class="jumbotron">
        <div class='container'>
            <div class="col-md-12">
                <h1>
                    Welcome to the coffee shop
                </h1>
                <p class='lead'> The best coffee</p>
                <a class='btn' href='/menu/Menu'> Order Coffee</a>
            </div>
        </div>
    </div>
</section>