<h1>The Cappuccino example page</h1>
<!-- <img src="{{photo}}" style="width:200px;height:200px;object-fit:cover" alt="Cappuccino">
<h3>{{name}} </h3>
<h3>{{price}} </h3>
<h4>{{calorie}} </h4>
<p> introduction here </p> -->
