<h1>Create Your Account</h1>
<br>
{{# if error}}
  <div class="alert alert-danger">
      {{error}}
  </div>
{{/if}}

<form action="/account/signup" method="POST">
  <div class="form-group row">
      <label for="name" class="col-sm-1 col-form-label">Name</label>
      <div class="col-sm-4">
            <input type="text" id="name" name="name" class="form-control" placeholder="Display name" autofocus="autofocus" required>
      </div>
  </div>
  <div class="form-group row">
      <label for="email" class="col-sm-1 col-form-label">Email</label>
      <div class="col-sm-4">
            <input type="email" id="email" name="email" class="form-control" placeholder="email" autofocus="autofocus" required>
      </div>
  </div>
  <div class="form-group row">
      <label for="password" class="col-sm-1 col-form-label">Password</label>
      <div class="col-sm-4">
            <input type="password" id="password" name="password" class="form-control"
            pattern=".{8,16}" title="Password must be 8 to 16 characters" placeholder="Password" autofocus="autofocus" required>
      </div>
  </div>
  <div class="form-group row">
      <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
  </div>
</form>
<br>
<p>Already have an account? <a href="/account/login">Log in</a> </p>
