<div class="container">
<table>
    <thead>
    <th>Name</th>
    <th>Quantity</th>
    </thead>
    <tbody>
    {{#each items}}
        <tr>
            <td>{{name}}</td>
            <td>{{itemQuanity}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>